/*     General overwrite     */
body {
  font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
}
.btn {
  border-width: 1px;
  background-color: transparent;
  font-weight: 400;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 8px 16px;
  border-color: #888888;
  color: #888888;
  border-radius: 0px !important;
}

.btn-neutral {
  border-color: white;
  color: white;
}

.btn-neutral.btn-fill {
  color: white;
  background-color: white;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-neutral.btn-fill, .btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
  color: #888888;
}

.parallax .parallax-image  {
  width: 100%;
  position: relative;
  height: 100%;

}

.landing-page .parallax {
  width: 100%;
  height: 630px;
  overflow: hidden;
  display: block;
  background-size: 100%;
  background-color: #0D1339;
}

.landing-page .parallax .container{
  z-index: 2;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.filter-gradient{
  position: relative;
}
.filter-gradient:after{
  background-size: 2000px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  content: "";
  opacity: .7;
}

.filter-gradient.blue:after{
  background: rgba(54, 151, 142, 0.8) ; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, rgba(54, 151, 142, 0.8)  0%, #0C526C 100%, #3d7eaa 100%, #182848 100%, #6e48aa 100%, #6e48aa 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(0%,rgba(54, 151, 142, 0.8) ), color-stop(100%,#0C526C), color-stop(100%,#3d7eaa), color-stop(100%,#182848), color-stop(100%,#6e48aa), color-stop(100%,#6e48aa)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,rgba(54, 151, 142, 0.8)  0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #1e5799 0%,rgba(54, 151, 142, 0.8)  0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #1e5799 0%,rgba(54, 151, 142, 0.8)  0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #1e5799 0%,rgba(54, 151, 142, 0.8)  0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(54, 151, 142, 0.8) ', endColorstr='#6e48aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.landing-page .parallax .parallax-background{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.landing-page .parallax .parallax-background img{
  height: 100%;
  position: relative;
}
.landing-page .parallax .parallax-image{
  width: 100%;
  margin: 0 auto;
  margin-top: 145px;
  float: right;
  text-align: center;
}

.landing-page .parallax .parallax-image img {
  height: auto;
  width: 100%;
}

.landing-page .parallax .parallax-image img.phone{
  width: 80%;
  float: right;
}

.landing-page .parallax .parallax-background img.flipped{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.landing-page .parallax .parallax-image .screen {
  position: absolute;
  z-index: 3;
}

.landing-page .parallax .description{
  margin-top: 200px;
  color: white;
  padding: 5px;
}

.landing-page .section-presentation .description{
  padding: 50px 5px 0;
}

.landing-page .parallax .description h2{
  text-shadow: 0 1px 5px rgba(0,0,0,0.2);
  font-weight: 200;
  font-size: 40px;
}

.landing-page .parallax .description h5 {
  line-height: 1.4;
  font-weight: 400;
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
  font-size: 18px;
}

.landing-page .parallax .buttons{
  width: 100%;
  display: inline-block;
  margin-top: 40px;
  border-radius: 0px !important;
}

.landing-page .parallax .buttons h4{
  color: white;
  display: inline-block;
}

.landing-page .parallax .buttons h4 ~ .btn{
  margin-top: -10px;
  margin-left: 30px;
}

.landing-page .parallax .buttons .btn-simple{
  font-size: 30px;
}

.landing-page .section-no-padding .parallax {
  color: white;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  text-align: center;
}



@media (max-width:768px){
  .fixed-plugin{
    top: 80px;
    right: 0px;
  }
}

@media (min-width: 768px){

}

@media (max-width: 767px){

  .landing-page .wrapper{
    text-align: center;
  }

  .landing-page .parallax {
    height: 550px;
  }
  .landing-page .parallax .parallax-background img {
    width: auto;
    height: 100%;
  }
  .landing-page .parallax .description{
    margin-top: 65px;  }
  .landing-page .parallax .buttons{
    margin: 20px 0;
  }

}

@media (min-width: 768px){
  .landing-page .navbar-top{
    padding-top: 10px;
  }
}
