// Import
@import 'bootstrap/mixins';
@import 'bootstrap/variables';
@import 'libs/variable.scss';
@import 'components/banner.scss';
@import 'components/burger.scss';

/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

.nav {
  &-box {
    text-align: center;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    .btn {
      border-width: 0px;
    }
  }
  &-left {
    vertical-align: top;
    text-align: left !important;
    color: #888888;
    text-transform: uppercase;

  }

  &-center {
    vertical-align: top;
    text-align: center;
  }

  &-right {
    vertical-align: top;
    text-align: right !important;
    color: #888888;
    text-transform: uppercase;
  }
  &-comp-active {
    color: #FF9500 !important;
  }
}

.btn-next {
  color: #FF9500;
}

.nav-background {
  background-color: rgba(238, 238, 238, 0.16);
}

.sidebar-competition {
  float: right;
}

.tiny-border {
  border: 1px solid #E3E3E3;
  border-radius: 2px;
}

/* centered columns styles */
.upload {
  width: 100%;
  border: 1px dashed;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

.login-form {
  margin: 150px auto;
  padding: 5px 0;
  text-align: center;
  width: 35%;
  float: right;
}

// Template Base
body {
  background: rgba(203, 203, 210, 0.15) !important;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: lighten($brand-darker, 20%);
  background: rgb(245, 245, 245);
  height: 100%;
  position: relative;

}

a {
  color: $brand-primary;
  @include transition(.5s);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    outline: none;
  }
}

p {
  margin-bottom: 1.5em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;
  margin: 30px 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  font-weight: 400;
}

// Header
.header {
  // position: relative;
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  @media screen and (max-width: $screen-sm) {
    margin-top: 0;
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    .navbar-brand {
      color: $brand-primary !important;
    }
    #navbar {
      li {
        a {
          color: rgba(0, 0, 0, .5) !important;
          @include transition(.3s);
          &:hover {
            color: $brand-primary !important;
          }
          span {
            &:before {
              background: transparent !important;
            }
          }
        }
        &.active {
          a {
            background: transparent;
            background: none;
            color: $brand-primary !important;
            span {
              &:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
            }
            &:hover {
              color: $brand-primary !important;
            }
          }
        }
      }
    }
  }
  // padding-top: 15px;
  .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #navbar {
    li {
      a {
        font-family: $font-primary;
        color: rgba(255, 255, 255, .5);
        // color: #dadada;
        position: relative;
        span {
          position: relative;
          display: block;
          padding-bottom: 2px;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $brand-primary;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
        }
        &:hover {
          // color: $brand-primary;
          color: $brand-white;
          // color: rgba(255,255,255,1);
          span {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }

      }
      &.active {
        a {
          background: transparent;
          background: none;
          color: $brand-white;
          span {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  .navbar-brand {
    float: left;
    display: block;
    font-weight: lighter;
    padding-left: 0;
    color: $brand-white;

  }
  &.navbar-fixed-top {
    position: fixed !important;
    background: $brand-white;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    margin-top: 0px;
    top: 0;
    .navbar-brand {
      color: $brand-primary;
    }
    #navbar {
      li {
        a {
          color: rgba(0, 0, 0, .5);
          @include transition(.3s);
          &:hover {
            color: $brand-primary;
          }
        }
        &.active {
          a {
            background: transparent;
            background: none;
            color: $brand-primary;
            span {
              &:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
  .navbar-default {
    border: transparent;
    background: transparent;
    @include border-radius(0px);

    // padding-right: 30px;
    // padding-left: 10px;

    @media screen and (max-width: $screen-sm) {
      margin-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
    }

    .brand-slogan {
      margin: 28px 0 0 15px;
      float: left;
      letter-spacing: 2px;
      color: #adadad;
      em {
        color: $brand-primary;
        font-style: normal;
      }
    }

  }
  a {
    @include transition(.0s);
  }
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
  h2 {
    font-size: 50px;
    font-weight: 300;
    // letter-spacing: 2px;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-bottom: 20px;
    line-height: 1.5;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 80px;
      height: 2px;
      background: $brand-primary;
      left: 50%;
      margin-left: -40px;
      bottom: 0;
    }
    @media screen and (max-width: $screen-sm) {
      font-size: 30px;
    }
  }
  h3 {
    font-weight: 300;
    line-height: 1.5;
    color: #929292;
    @media screen and (max-width: $screen-sm) {
      font-size: 24px !important;
      line-height: 34px;
    }
  }
}

.btn {
  @include transition(.3s);
}

// Container
#fh5co-our-services,
#fh5co-features,
#fh5co-our-services,
#fh5co-our-services {
  .box {
    // min-height: 360px;
    padding: 30px;
    background: $brand-white;
    text-align: center;
    color: #7f7f7f;
    margin-bottom: 70px;
    position: relative;
    @media screen and (max-width: $screen-md) {
      min-height: inherit;
      margin-bottom: 60px;
    }
    .icon {
      width: 85px;
      height: 85px;
      margin: 0 auto;
      // top: -70px;
      top: 0;
      margin-top: -70px;
      margin-bottom: 30px;
      position: relative;
      @include border-radius(50%);
      display: table;
      text-align: center;
      > span {
        display: table-cell;
        vertical-align: middle;
        i {
          font-size: 40px;
          color: $brand-white !important;
          margin: 0;
          padding: 0;
        }
      }
      &.colored-1 {
        background: #2aaf67;
      }
      &.colored-2 {
        background: #00bff3;
      }
      &.colored-3 {
        background: #f26522;
      }
      &.colored-4 {
        background: #e52b50;
      }
      &.colored-5 {
        background: #2fc5cc;
      }
      &.colored-6 {
        background: #6173f4;
      }
    }
    .step-number {
      font-size: 16px;
      display: block;
      color: #d1d1d1;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
    }
    h3 {
      margin: 0 0 20px 0;
      padding: 0;
      font-weight: 400;
      font-size: 20px;
      color: $brand-darker;
    }
  }
}

#fh5co-features {
  padding: 7em 0;
  @media screen and (max-width: $screen-sm) {
    padding: 4em 0;
  }
  .fh5co-service {
    margin-bottom: 30px;
    float: left;
    .fh5co-icon {
      float: left;
      width: 20%;
      // border: 1px solid red;
      i {
        font-size: 40px;
        color: $brand-primary;
      }
    }
    .fh5co-desc {
      width: 80%;
      // border: 1px solid red;
      float: right;
      h3 {
        margin-top: 0;
        font-size: 18px;
      }
    }
  }
}

// Footer
#wrap {
  min-height: 100%;
}

.footer {
  clear: both;
  padding-top: 20px;
}

#footer {
  padding: 50px 0;
  height: 150px;

  background-color: #fff;
  color: #7f7f7f;
  .copyright {
    margin-bottom: 0px;
    padding-bottom: 0;
  }
}

// Components
.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

.error-message {
  color: #ac2925;
}

// Helper Class
.col-xxs-12 {
  @media screen and (max-width: 480px) {
    float: none;
    width: 100%;
  }
}

// Menu Animate
.header-smooth-anim {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
